.card {
  display: inline-flex;
  width: 35px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5%;
  margin: 5px;
  padding: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.spades,
.clubs {
  color: black;
}

.diamonds,
.hearts {
  color: red;
}
